
*{
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    color: darkmagenta;
    font: 1em / 1.4 "DejaVu Sans" ;
    padding: 1em;
    margin: 0;
    width: 500px;
}

form {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid navy;
    border-radius: 3em;
}

label {
    font: 1.2em Cambria;
    text-align: left;
    width: 20%;
    margin-right: 2em;
}

p{
    display: inline-block;
}