<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>

    <style>

        * {
            box-sizing: border-box;
        }

        body {
            background-color: #fff;
            color: #333;
            font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
            padding: 1em;
            margin: 0;
            width: 500px;
        }

        form {

            width: 500px;
            height: 300px;
            margin: 0 auto;
            padding: 1em;
            box-sizing: border-box;
            background-color: greenyellow;
            border: 1px solid green;
            border-radius: 3em;
        }

        label {
            position: relative;
            top: 40px;
            font: 1.2em Candara;
            text-align: left;
            display: inline-block;
            width: 20%;
            margin-right: 2em;
            padding: 10px;
        }


        input {
            position: relative;
            top: 0px;
            font: 1.1em Candara;
            background: #eeeeee;
            padding: 10px;
            margin: 5px 0 0 124px;
            width: 65%;
            border-color: #FFC125;
            border-radius: 3px;

            box-sizing: border-box;
        }

        input:focus, select:focus , button:focus{
            background-color: #cccccc;
            border-radius: 7px;

        }

      input[type="submit"]{
          margin: 20px 0 0 124px;
          padding: 5px;
          font:  1em 'Raleway', Candara;
          border-radius: 3px;
      }

        .alert {
            position: relative;
            font: 1em "Candara";
            color: red;
            font-weight: bold;
        }

        .result{
            position: relative;
            font: 2em "Candara";
            color: darkblue;
            font-weight: bold;
        }

    </style>
</head>
<body>

<section>

    <fieldset>

<legend></legend><h1>Calculator</h1><legend></legend>
<div class="content">
    <form th:action="@{/calculate}" method="post" th:object="${inputLine}">

        <label for="input"><span>Input</span></label>
        <input type="text" id="input" th:field="*{expressionLine}">
        <input type="submit" th:value="CALCULATE"></input>

    </form>
    <p class="result" th:text=" ${result}"></p>

    <p class="alert" th:text="${alert}"></p>
</div>
    </fieldset>
</section>
</body>
</html>